extends layout 

block content

    h1 Update a Colour, Form 
    h4 Update details if you wish to change #{colour.name} 

    p(id='upmsg' style={'display': 'none'}) Colour Has Been Successfuly Updated!
    p(id='upcreatemsg' style={'display': 'none'}) Colour Has Been Successfuly Created!

    .button-container
        button(type='button' class='btn btn-danger') 
            a(href='/colours/' + colour.colorId) Cancel Update

        button(class='btn btn-success' type='submit' id='updateSubmit') Update Colour

    .form-container
        form(id='updateForm')
            label(for='id') Colour ID: 
            input(id='id' type='text' class="form-control" placeholder='Colour ID' name='id' value=colour.colorId readonly)

            label(for='name') Colour Name: 
            input(id='name' type='text' class="form-control" placeholder='Colour Name' name='name' value=colour.name required)

            label(for='hex') HEX String: 
            input(id='hex' type='text' class="form-control" placeholder='HEX String' name='hexString' value=colour.hexString required)

            label(for='rgb') RGB Value: 
            input(id='r' type='text' class="form-control" placeholder='R Value' name='r' value=colour.rgb.r required)
            input(id='g' type='text' class="form-control" placeholder='G Value' name='g' value=colour.rgb.g required)
            input(id='b' type='text' class="form-control" placeholder='B Value' name='b' value=colour.rgb.b required)

            label(for='hsl') HSL Value: 
            input(id='h' type='text' class="form-control" placeholder='H Value' name='h' value=colour.hsl.h required)
            input(id='s' type='text' class="form-control" placeholder='S Value' name='s' value=colour.hsl.s required)
            input(id='l' type='text' class="form-control" placeholder='L Value' name='l' value=colour.hsl.l required)