extends layout 

block content

    h1 #{colour.name}
    h4 All the information about #{colour.name}
    h4 If you Want to Delete this Colour, Click the button below 
    h4 If you Want to set this Colour as the primary table colour, Click the button below

    p(id='colourMsg' style={'display': 'none'}) Primary Table Colour has been Updated and Saved!

    .button-container
        button(type='button' class='btn btn-danger') 
            a(class='deleteButton' href='/colours/' + colour.colorId colourID=colour.colorId) Delete
        
        button(type='button' class='btn btn-warning' id='setColour' colourID=colour.colorId) Set as Primary Colour

        button(type='button' class='btn btn-primary') 
         a(href='/colours/update/' + colour.colorId) Update #{colour.name}

    table
        tr
            th(style={'border': '2px solid' + colour.hexString}) Colour ID
            th(style={'border': '2px solid' + colour.hexString}) Colour Name
            th(style={'border': '2px solid' + colour.hexString}) HEX Value
            th(style={'border': '2px solid' + colour.hexString}) RGB value
            th(style={'border': '2px solid' + colour.hexString}) HSL Value
            th(style={'border': '2px solid' + colour.hexString}) Display
            tr
                td(style={'border': '2px solid' + colour.hexString}) #{colour.colorId}
                td(style={'border': '2px solid' + colour.hexString}) #{colour.name}
                td(style={'border': '2px solid' + colour.hexString}) #{colour.hexString}
                td(style={'border': '2px solid' + colour.hexString}) rgb(#{colour.rgb.r}, #{colour.rgb.g}, #{colour.rgb.b}) 
                td(style={'border': '2px solid' + colour.hexString}) hsl(#{colour.hsl.h}, #{colour.hsl.s}, #{colour.hsl.l})
                td(style={'document.body.style.backgroundColor': colour.hexString, 'border': '2px solid' + colour.hexString})
    
    .button-container
        button(type='button' class='btn btn-primary') 
            a(href='/colours') Back to HomePage


